# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Jupyter / 분석
*.ipynb_checkpoints

# Spark
spark-warehouse/
metastore_db/
derby.log

# 로그 / 대용량 산출물
*.log
*.parquet
*.csv

/data/