# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Jupyter / 분석
*.ipynb_checkpoints

# Spark
spark-warehouse/
metastore_db/
derby.log

# 로그 / 대용량 산출물
*.log
*.parquet
*.csv

/data/
/missions/W1/M2_SQL_Tutorial/w3schools.db
/missions/W1/M3_gdp_etl/Countries_by_Region.json
/missions/W1/M3_gdp_etl/Countries_by_GDP.json
/missions/W1/M3_gdp_etl/etl_project_log.txt
/missions/W1/M3_gdp_etl/raw.json
/missions/W1/M3_gdp_etl/World_Economies.db
/data/sentiment140/kakao_goods/keywords_by_character.json
/missions/W3/M3_wordcount_using_mapreduce/wordcount_result.txt
